.btn {
  border-radius: 10px;
}

.btn-custom {
  background: #fb9300;
  border-radius: 10px !important;
  color: #ffffff !important;
}

.btn-link {
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #252525;
  }
}
