.btn {
  border-radius: 10px;
}

.btn-custom {
  background: #fb9300;
  border-radius: 10px !important;
  color: #ffffff !important;
}

.btn-outline {
  border: 1px solid #fb9300;
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
}

.btn-add-order {
  background: #fb9300;
  border-radius: 5px 0px 0px 5px !important;
  color: #ffffff !important;
}

.btn-color {
  background: #fb9300;
}

.btn-link {
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #252525;
  }
}

.btn-alert {
  width: 25%;
}

.btn-order {
  border: none;
  background: none;
  margin-bottom: 20px;
}
