.text-custom {
  color: #fb9300;
}

.text-alert {
  color: #909090;
  font-size: 1.8rem;
  font-weight: 700;
}

.sub-text-alert {
  color: #909090;
  font-size: 0.9rem;
  font-weight: 300;
}

.text-color {
  color: #909090;
}

.text-capacity {
  margin-right: -10px;
}
